{% extends "main/base.html" %}

{% block title %}
    STUDYLANCE - Профиль
{% endblock %}


{% block body %}
    <div class="container-profile">
        <div class="header-profile">
            <p>Профиль {{ request.user }}</p>
            <p class="profile-rating">{{ user.profile.rating }}</p>
        </div>
        <div class="container-profile-main-info">
            <div class="container-profile-photo-info">

                {% if user.id == request.user.id %}
                    <a href="#" class="profile-photo">
                    </a>
                {% else %}
                    <a href="#" class="profile-photo">

                    </a>
                {% endif %}

                {% if user.id == request.user.id %}
                    <div class="profile-confidential-info">
                        <h3>Видно только вам</h3>
                        <form action="" method="POST">
                            {% csrf_token %}
                            {% for f in form %}
                                <label>{{ f.label }}</label>
                                {{ f }}
                            {% endfor %}
                            <input type="Submit" name="submit" value="Submit"/>
                        </form>
                    </div>

                {% endif %}
            </div>

            <div class="container-profile-desc-comments">
                <div class="profile-description">
                    <div class="header-profile-description">
                        <h3>Описание</h3>
                        {% if user.id == request.user.id %}
                            <a href="{% url 'profile_update' %}" class="profile-description-change">
                                Изменить
                            </a>
                        {% else %}
                        {% endif %}
                    </div>
                    <p>{{ user.resume.description }}</p>
                </div>

                <div class="container-profile-comments">
                    <h3>Комментарии</h3>
                    <div class="profile-comments">
                        {% for comment in comments %}
                            <div class="profile-comment">
                                <div class="header-profile-comment">
                                    <p>{{ comment.author_id }}</p>
                                    <p class="profile-comment-score">Оценка: </p>
                                </div>
                                <p>
                                    {{ comment.comment }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}