{% extends 'main/base.html' %}

{% block body %}
    <div class="container-all-task">

        {% for task in tasks %}
            {% if tasks.count_tasks != task %}
                <div class="card-task">
                    <a href="{{ task.get_absolute_url }}" class="link-task">
                        <div class="container-task">
                            <div class="task-title-price">
                                <h3>{{ task.direction }}</h3>
                                <p>{{ task.price }} ₽</p>
                            </div>
                            <div class="card-task-desc">
                                <p class="task-description-cropped">{{ task.description }}</p>
                            </div>
                        </div>

                        <div class="card-task-secondary-info">
                            <div>
                                <p>До {{ task.deadline|date:"d-m-Y" }}</p>
                                <p>Курс {{ task.course }}</p>
                                <p>{{ task.direction.code }}</p>
                                <p>{{ task.university }}</p>
                            </div>
                            <p class="card-task-time-created">{{ task.time_created|date:"d-m-Y" }}</p>
                        </div>
                    </a>

                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}