{% extends "main/base.html" %}
{% load static %}

{% block title %}
    STUDYLANCE - Задания
{% endblock %}

{% block body %}
    <div class="container-all-task">
        <div class="task-filter">
            {% if request.user.is_authenticated and request.user.profile.is_customer %}
                <a class="button-create-task" href="{% url 'task_create' %}">Создать задание</a>
            {% else %}
                <a class="button-create-task" href="{% url 'login' %}">Создать задание</a>
            {% endif %}
            <div class="container-button-filter">
                <a class="button-filter" href="#" data-hystmodal="#filter-date">Дата</a>

                <div class="hystmodal" id="filter-date" aria-hidden="true">
                    <div class="hystmodal__wrap">
                        <div class="hystmodal__window" role="dialog" aria-modal="true">
                            <div>
                                <label>От</label>
                                <input type="date" name="filter-date-from" required="" id="filter-date-from"
                                       min="2000-01-01">
                            </div>
                            <div>
                                <label>До</label>
                                <input type="date" name="filter-date-before" required="" id="filter-date-before"
                                       min="2000-01-01">
                            </div>

                            <button data-hystclose class="hystmodal__close orange-button">Применить</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-button-filter">
                <a class="button-filter" href="#" data-hystmodal="#filter-deadline">Дедлайн</a>

                <div class="hystmodal" id="filter-deadline" aria-hidden="true">
                    <div class="hystmodal__wrap">
                        <div class="hystmodal__window" role="dialog" aria-modal="true">
                            <div>
                                <label>От</label>
                                <input type="date" name="filter-date-from" required="" id="filter-deadline-from"
                                       min="2000-01-01">
                            </div>
                            <div>
                                <label>До</label>
                                <input type="date" name="filter-date-before" required="" id="filter-deadline-before"
                                       min="2000-01-01">
                            </div>

                            <button data-hystclose class="hystmodal__close orange-button">Применить</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-button-filter">
                <a class="button-filter" href="#" data-hystmodal="#filter-subject">Предмет</a>

                <div class="hystmodal" id="filter-subject" aria-hidden="true">
                    <div class="hystmodal__wrap">
                        <div class="hystmodal__window" role="dialog" aria-modal="true">
                            <button data-hystclose class="hystmodal__close">Применить</button>
                            <p>subject</p>
                            <button data-hystclose class="hystmodal__close orange-button">Применить</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-button-filter">
                <a class="button-filter" href="#" data-hystmodal="#filter-course">Курс</a>

                <div class="hystmodal" id="filter-course" aria-hidden="true">
                    <div class="hystmodal__wrap">
                        <div class="hystmodal__window" role="dialog" aria-modal="true">
                            <button data-hystclose class="hystmodal__close">Применить</button>
                            <p>Course</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-button-filter">
                <a class="button-filter" href="#" data-hystmodal="#filter-university">ВУЗ</a>

                <div class="hystmodal" id="filter-university" aria-hidden="true">
                    <div class="hystmodal__wrap">
                        <div class="hystmodal__window" role="dialog" aria-modal="true">
                            <button data-hystclose class="hystmodal__close">Применить</button>
                            <p>Текст модального окна ...</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-button-filter">
                <a class="button-filter" href="#" data-hystmodal="#filter-direction">Направление</a>

                <div class="hystmodal" id="filter-direction" aria-hidden="true">
                    <div class="hystmodal__wrap">
                        <div class="hystmodal__window" role="dialog" aria-modal="true">
                            <button data-hystclose class="hystmodal__close">Применить</button>
                            <p>direction</p>
                        </div>
                    </div>
                </div>
            </div>

            <a class="button-reset-filter" href="#">Сбросить</a>
        </div>

        {% for task in tasks %}
            {{ count_tasks }}
            {% if tasks.count_tasks != task %}
                <div class="card-task">
                    <a href="{{ task.get_absolute_url }}" class="link-task">
                        <div class="container-task">
                            <div class="task-title-price">
                                <h3>{{ task.direction }}</h3>
                                <p>{{ task.price }} ₽</p>
                            </div>
                            <div class="card-task-desc">
                                <p class="task-description-cropped">{{ task.description }}</p>
                            </div>
                        </div>

                        <div class="card-task-secondary-info">
                            <div>
                                <p>До {{ task.deadline|date:"d-m-Y" }}</p>
                                <p>Курс {{ task.course }}</p>
                                <p>{{ task.direction.code }}</p>
                                <p>{{ task.university }}</p>
                            </div>
                            <p class="card-task-time-created">{{ task.time_created|date:"d-m-Y" }}</p>
                        </div>
                    </a>

                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="container-show-more">
    {% if is_next_page %}
        <a class="orange-button" id="show-more" type="Submit" name="submit"
           href="?page={{ next_page }}">Показать
            еще</a>
    {% endif %}
    </div>

    <script type="text/javascript" src="../../static/main/scripts/script-modal-window.js"></script>
{% endblock %}