{% extends "app/base.html" %}

{% block title %}
    STUDYLANCE - Проверьте почту!
{% endblock title %}

{% block body %}
<div class="alert alert-info" role="alert">
    <h2 class="alert-heading">Письмо отправлено!</h2>
    <p>
        На ваш адрес электронной почты было отправлено письмо с подтверждением. Пожалуйста, проверьте свою электронную почту и нажмите на ссылку подтверждения, чтобы завершить действие.

    </p>
    <p>
        Если письмо не пришло, проверьте папку спам.
    </p>
</div>
{% endblock %}