{% extends "app/base-for-login-reg.html" %}

{% block title %}
    Регистрация
{% endblock title %}

{% block body%}
    <div class = 'container-out-log-reg'>
        <div class = 'container-log-reg'>
            <form action="" method="POST">
                {% csrf_token %}
                {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
                <div class="form-error">
                    {{ f.errors }}
                </div>
                {% endfor %}
                <input class = "orange-button" type="Submit" name="submit" value="Регистрация"/>
            </form>
        </div>
    </div>
{% endblock body%}