{% extends "main/base.html" %}

{% block title %}
    STUDYLANCE
{% endblock title %}

{% block body %}
    <div class = 'index-what-is-it'>
        <h2>Что здесь происходит¿</h2>
        <p>STUDYLANCE - площадка, которая работает по принципу фриланса. Здесь учащиеся вузов и других учебных заведений могут размещать задания, которые хотят поручить другим учащимся для выполнения.</p>
        <p>Особенность STUDYLANCE заключается в том, что стоимость выполнения задания получается ниже, чем стоимость услуг репетитора, или сторонних сервисов, так как главными испольнителями становятся учащиеся того же вуза/направления.</p>
    </div>
{% endblock body %}