{% extends "app/base.html" %}
{% load static %}

{% block title %}
    STUDYLANCE - Задания
{% endblock %}

{% block body %}
    <div class = "task-filter">
        <a class = "button-create-task" href="{% url 'task_create' %}">Создать задание</a>

        <div class = "container-button-filter">
            <a class = "button-filter" href="#" data-hystmodal="#filter-date">Дата</a>

            <div class="hystmodal" id="filter-date" aria-hidden="true">
                <div class="hystmodal__wrap">
                    <div class="hystmodal__window" role="dialog" aria-modal="true" >
                        <input type="text" name="filter-date-from" required="" id="filter-date-from">
                        <img src="{% static 'app/img/connection.svg'%}" />
                        <input type="text" name="filter-date-before" required="" id="filter-date-before">

                        <button data-hystclose class="hystmodal__close">Применить</button>
                    </div>
                </div>
            </div>
        </div>


        <div class = "container-button-filter">
            <a class = "button-filter" href="#" data-hystmodal="#filter-deadline">Дедлайн</a>

            <div class="hystmodal" id="filter-deadline" aria-hidden="true">
                <div class="hystmodal__wrap">
                    <div class="hystmodal__window" role="dialog" aria-modal="true" >
                        <button data-hystclose class="hystmodal__close">Применить</button>
                        <p>Дедлайн</p>
                    </div>
                </div>
            </div>
        </div>


        <div class = "container-button-filter">
            <a class = "button-filter" href="#" data-hystmodal="#filter-course">Курс</a>

            <div class="hystmodal" id="filter-course" aria-hidden="true">
                <div class="hystmodal__wrap">
                    <div class="hystmodal__window" role="dialog" aria-modal="true" >
                        <button data-hystclose class="hystmodal__close">Применить</button>
                        <p>Course</p>
                    </div>
                </div>
            </div>
        </div>


        <div class = "container-button-filter">
            <a class = "button-filter" href="#" data-hystmodal="#filter-university">ВУЗ</a>

            <div class="hystmodal" id="filter-university" aria-hidden="true">
                <div class="hystmodal__wrap">
                    <div class="hystmodal__window" role="dialog" aria-modal="true" >
                        <button data-hystclose class="hystmodal__close">Применить</button>
                        <p>Текст модального окна ...</p>
                    </div>
                </div>
            </div>
        </div>


        <div class = "container-button-filter">
            <a class = "button-filter" href="#" data-hystmodal="#filter-direction">Направление</a>

            <div class="hystmodal" id="filter-direction" aria-hidden="true">
                <div class="hystmodal__wrap">
                    <div class="hystmodal__window" role="dialog" aria-modal="true" >
                        <button data-hystclose class="hystmodal__close">Применить</button>
                        <p>direction</p>
                    </div>
                </div>
            </div>
        </div>

        <a class = "button-reset-filter" href="#">Сбросить</a>
    </div>

    {% for task in tasks %}
        <div class = "card-task">
            <a href = "{{ task.get_absolute_url }}" class = "link-task">
                <div class = "container-task">
                    <div class = "task-title-desс">
                        <h3>{{ task.title }}</h3>
                        <p>{{ task.description }}</p>
                    </div>
                    <div class = "card-task-price">
                        <p>{{task.price}} ₽</p>
                    </div>
                </div>

                <div class = "card-task-secondary-info">
                    <div>
                        <p>До {{ task.deadline }}</p>
                        <p>Курс {{ task.course }}</p>
                        <p>{{ task.direction.code }}</p>
                        <p>{{ task.university }}</p>
                    </div>
                    <p class = "card-task-time-created">{{ task.time_created }}</p>
                </div>
            </a>

        </div>
    {% endfor %}

    <div class = "container-show-more">
        <input class = "orange-button" id = "show-more" type="Submit" name="submit" value="Показать еще"/>
    </div>

    <script type="text/javascript" src="../../static/app/scripts/script-modal-window.js"></script>
{% endblock %}