{% extends "app/base.html" %}

{% block title %}
    STUDYLANCE - Для исполнителей
{% endblock title %}

{% block body %}
    <div class = 'index-what-is-it'>
        <h2>Что важно знать исполнителю¿</h2>
        <p>На данный момент STUDYLANCE не берет никаких коммиссий, до исполнителя доходит вся сумма задания</p>
        <p>STUDYLANCE - не сайт, где все задания выполняют эксперты, но если задание будет выполнено некорректно, заказчик может всегда обратится в поддержку</p>
        <p>При наличии большого количества жалоб со стороны пользователей, администрация рассматривает их, а также имеет право заблокировать аккаунт исполнителя</p>
        <p>Вы можете оспорить блокировку, администрация рассмотрит вашу ситуацию повторно</p>
        <p>Цена, указанная в карточке задания, может быть не окончательной, у вас всегда есть возможность обсудить ее с заказчиком</p>
        <p>Исполнитель должен стремиться принимать только те задания, которые соответствуют его уровню знаний и навыков</p>
        <p>Исполнитель несет ответственность за свою работу и должен быть готов к обратной связи от заказчика</p>
        <form method="POST">
            {% csrf_token %}
            <input value="Стать исполнителем" type="submit">
        </form>
    </div>
{% endblock body %}