{% extends "app/base.html" %}

{% block title %}
    STUDYLANCE
{% endblock title %}

{% block body %}
    <div class = 'index-what-is-it'>
        <h2>Что важно знать исполнителю¿</h2>
        <p>На данный момент STUDYLANCE не берет никаких коммиссий, до исполнителя доходит вся сумма задания</p>
        <p>STUDYLANCE - не сайт, где все задания выполняют эксперты, но если задание будет выполнено некорректно, заказчик может всегда обратится к поддержке</p>
        <p>Цена, указанная в карточке задания, может быть не окончательной, у вас всегда есть возможность обсудить ее с заказчиком</p>
    </div>
{% endblock body %}