{% extends "app/base.html" %}

{% block title %}
    Вход
{% endblock title %}

{% block header %}
    <header class = 'header-login-reg'>
        <div class = 'header-logo'>
            <a href = '{% url "home" %}'>STUDYLANCE</a>
        </div>
    </header>
{% endblock header %}

{% block body %}
    <div class = 'container-out-log-reg'>
        <div class = 'container-log-reg'>
            <form action="" method="POST" class = 'form-login'>
                {% csrf_token %}
                {{ form.as_p }}
                <input class = "orange-button" type="Submit" name="submit" value="Войти"/>
            </form>
            <a href="{% url 'password_change' %}">Изменить пароль</a>

            <div class = 'bottom-info-reg'>
                <p>Еще нет аккаунта¿</p>
                <a href = '{% url "register" %}'>Регистрация</a>
            </div>
        </div>
    </div>
{% endblock body %}
