{% extends "app/base-for-login-reg.html" %}

{% block title %}
    Вход
{% endblock title %}

{% block body %}
    <div class = 'container-out-log-reg'>
        <div class = 'container-log-reg'>
            <form action="" method="POST" class = 'form-login'>
                {% csrf_token %}

                {% for f in form %}
                    <div>
                        {% if f.label == 'Пароль' %}
                            <div class = 'title-password-forgot'>
                                <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                                <a href="{% url 'password_change' %}">Забыли пароль¿</a>
                            </div>
                            {{ f }}
                        {% else %}
                                <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                                {{ f }}
                        {% endif %}
                    </div>
                {% endfor %}

                <input class = "orange-button" type="Submit" name="submit" value="Войти"/>
            </form>

            <div class = 'bottom-info-reg'>
                <p>Еще нет аккаунта¿</p>
                <a href = '{% url "register" %}'>Регистрация</a>
            </div>

        </div>
    </div>
{% endblock body %}
