{% extends "app/base.html" %}

{% block title %}
    STUDYLANCE - Профиль
{% endblock %}


{% block body %}
    <div class = "container-profile">
        <div class = "header-profile">
            <p>Профиль {{ request.user }}</p>
            <p class = "profile-rating">{{ user.profile.rating }}</p>
        </div>
        <div class = "container-profile-main-info">
            <div class = "container-profile-photo-info">

                {% if user.profile.id == request.user.id %}
                    <a href = "#" class = "profile-photo">

                    </a>
                {% else %}
                    <a href = "#" class = "profile-photo">

                    </a>
                {% endif %}

                {% if user.profile.id == request.user.id %}
                    <div class = "profile-confidential-info">
                        <h3>Видно только вам</h3>
                        <form action="" method="POST">
                            {% csrf_token %}
                            {% for item in form %}
                                <label>{{ item.label }}</label>
                                {{ item }}
                            {% endfor %}
                            <input class = "profile-change-save" type="Submit" name="submit" value="Сохранить"/>
                        </form>
                    </div>
                {% else %}
                {% endif %}
            </div>

            <div class = "container-profile-desc-comments">
                <div class = "profile-description">
                    <div class = "header-profile-description">
                        <h3>Описание</h3>
                        {% if user.profile.id == request.user.id %}
                            <a href = "#" class = "profile-description-change">
                                Изменить
                            </a>
                        {% else %}
                        {% endif %}
                    </div>
                    <p>{{user.resume.description}}</p>
                </div>

                <div class = "container-profile-comments">
                    <h3>Комментарии</h3>
                        <div class = "profile-comments">
                            {% for comment in comments %}
                                <div class = "profile-comment">
                                    <div class = "header-profile-comment">
                                        <p>{{comment.author_id}}</p>
                                        <p class = "profile-comment-score">Оценка: </p>
                                    </div>
                                    <p>
                                        {{ comment.comment }}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    <!-- -->
                </div>
            </div>
        </div>
    </div>


    <script src="../../static/app/scripts/script-for-profile-min-height.js" type="module"></script>
{% endblock %}