{% extends "app/base.html" %}

{% block title %}
    STUDYLANCE - Профиль
{% endblock %}


{% block body %}
<h2 class="s">{{ user.profile.id }}</h2>
    <div class = "container-profile">
        <div class = "header-profile">
            <p>Профиль {{ request.user }}</p>
            <p class = "profile-rating">{{ user.profile.rating }}</p>
        </div>

        <div class = "container-profile-photo-info">

            {% if user.profile.id == request.user.id %}
                <a href = "#" class = "profile-photo">
                    <img src = '{{ user.profile.photo.image.url }}'>
                </a>
            {% else %}
                <a href = "#" class = "profile-photo">

                </a>
            {% endif %}

            {% if user.profile.id == request.user.id %}
                <div class = "profile-confidential-info">
                    <h3>Видно только вам</h3>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="Submit" name="submit" value="Submit"/>
                    </form>
                </div>
            {% else %}
                <div class = "profile-confidential-info">
                    <h3>Видно только вам</h3>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {{ profile_form.as_p }}
                        <input type="Submit" name="submit" value="Submit"/>
                    </form>
                </div>
            {% endif %}
        </div>

        <div class = "container-profile-desc-comments">
            <div class = "profile-description">
                <div class = "header-profile-description">
                    <h3>Описание</h3>
                    {% if user.profile.id == request.user.id %}
                        <a href = "#" class = "profile-description-change">
                            Изменить
                        </a>
                    {% else %}
                    {% endif %}
                </div>
                <p>Скорее всего это модель резюме???? как достать от туда описание????{{user.resume.description}}</p>
            </div>

            <div class = "container-profile-comments">
                <h3>Комментарии</h3>
                <!-- тут for какой-нибудь ебнуть -->
                    <div class = "profile-comments">
                        {% for comment in comments %}
                            <div class = "profile-comment">
                                <div class = "header-profile-comment">

                                </div>
                                <p>
                                    {{ comment.comment }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                <!-- -->
            </div>
        </div>
    </div>
{% endblock %}