{% extends "app/base.html" %}
{% load static %}


{% block title %}
    Задание
{% endblock %}

{% block body %}
    <div class="task-container" id = "task-container">
        <div class="task-header">
            <div class="task-secondary-info">
                <p>Задание от {{ task.customer_id }}</p>
                <p>До {{ task.deadline|date:"d-m-Y" }}</p>
                <p>{{ task.direction.code }}</p>
                <p>Курс {{ task.course }}</p>
                {% if task.customer_id.id == request.user.id %}
                    <a class='task-edit' href="{{ task.get_absolute_url }}update/">Редактировать задание</a>
                    <a class='task-delete' href="{{ task.get_absolute_url }}delete/">Удалить задание</a>

                {% endif %}
            </div>
            <p class="task-price">{{ task.price }} ₽</p>
        </div>
        <div class="task-main-info">
            <h2>{{ task.direction }}</h2>
            <div class="task-description">
                <h3>Описание</h3>
                <p>{{ task.description }}</p>
            </div>
            <div class="task-photo">
                <h3>Фото</h3>
                <div id='lightgallery'>
                    {% for image in images %}
                        <a href="{{ image.image.url }}">
                            <img src="{{ image.image.url }}">
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="task-files">
                <h3>Файлы</h3>
                {% for file in files %}
                    <div class = "container-task-file">
                        <a href="{{ file.file.url }}" download>
                            <p>{{ file.file|filename|truncatechars:50 }}</p>
                            <img src = "{% static 'app/img/download-icon.svg' %}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="container-task-response">
            <button class='orange-button button-task-response'>
                <a href="{{ task.get_absolute_url }}response/">Откликнуться</a>
            </button>
        </div>
    </div>


    <script src="../../static/app/scripts/script-for-task-min-height.js" type="module"></script>
{% endblock %}