* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body a {
    text-decoration: none;
}
:root {
    --index: calc(1/1440*100vw);
    --color-main-text: #FFFAF0;
    --color-secondary-text: #878383;
    --color-orange: #FF4D00;
    --color-background: #121212;
    --color-background-light: #141516;
    --color-orange-button: #B53C06;
    --color-border-orange-button: #B23903;
    --color-border: #1E1F21;
}
@font-face {
    font-family: helvetica-bold-s;
    src: url('../fonts/Helvetica-Bold.woff2');
    font-weight: bold;
}
@font-face {
    font-family: helvetica-light-s;
    src: url('../fonts/Helvetica-Light.otf');
    font-weight: 300;
}
@font-face {
    font-family: helvetica-regular-s;
    src: url('../fonts/Helvetica-Regular.woff2');
    font-weight: normal;
}
body {
    font: 22px "helvetica-regular-s", normal;
    min-height: 100vh;
    background-color: var(--color-background);
    color: var(--color-main-text);
    position:relative;
    padding-bottom: 100px;

}
.header {
    display: flex;
    padding: calc(var(--index)*20) 8.33% 0 8.33%;
    justify-content: space-between;
}
.header-logo a{
    font: 30px "helvetica-bold-s", normal;
    color: var(--color-orange);
}
.header .header-nav {
    display: flex;

}
.header .header-nav a{
    font: 22px "helvetica-bold-s", normal;
    color: var(--color-secondary-text);
    margin-left: calc(var(--index)*50);
}
.container-footer {
    width: 100vw;
    position: absolute;
    bottom: 0;
    padding-bottom: calc(var(--index)*16);
    margin-top: 40px;
}
.footer,
.header-login-reg {
    display: flex;
    justify-content: center;
}
.footer * {
    padding-right: 5px;
    color: var(--color-secondary-text);
    font-size: 16px;
}

.index-what-is-it,
.alert{
    margin: calc(var(--index)*100) 0 0 calc(var(--index)*244);
}
.index-what-is-it p,
.alert p{
    width: 47vw;
    max-width: 650px;
    font: 26px "helvetica-light-s", normal;
    margin: 0 0 calc(var(--index)*20) calc(var(--index)*20);
}
h2 {
    font: 48px "helvetica-regular-s", normal;
    margin-bottom: calc(var(--index)*45);
}

.header-login-reg {
    padding-top: calc(var(--index)*20);
}

.form-input,
#id_first_name,
#id_last_name,
.form-change-pass > div > input{
    width: 230px;
    height: 30px;
    background: var(--color-background);
    border: 1px solid var(--color-border);
    border-radius: 5px;
    color: var(--color-main-text);
}
.orange-button,
.container-task-response > .button-task-response{
    width: 230px;
    height: 30px;
    background: var(--color-orange-button);
    color: var(--color-main-text);
    border: 1px solid var(--color-border-orange-button);
    border-radius: 5px;
    font: 14px "helvetica-regular-s", normal;
}
.form-login label,
.bottom-info-reg,
.form-label,
.form-login > div .title-password-forgot a,
.form-change-pass{
    color: var(--color-main-text);
    font: 16px "helvetica-light-s", normal;
}
.bottom-info-reg a{
    color: var(--color-orange);
}
.container-out-log-reg,
 .container-input-data-out{
    display: flex;
    justify-content: center;
}
.container-log-reg,
 .container-input-data{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 110px 0 0 0;
    padding: 30px 35px 8px 35px;
    background: var(--color-background-light);
    border: 1px solid var(--color-border);
    border-radius: 10px;
}
.container-log-reg .bottom-info-reg {
    display: inline-flex;
    justify-content: center;
    margin: 30px 0 10px 0;
}
.container-log-reg .bottom-info-reg a {
    margin-left: 8px;
}
.form-login p,
.form-register p,
.form-login > div,
.form-change-pass div{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.form-login p input,
 .form-login div input,
 .form-register div input,
 .form-change-pass input{
    padding: 2px 15px 2px 15px;
    margin-top: 5px;
    font: 14px "helvetica-regular-s", normal;
}
.form-login div .title-password-forgot {
    width: 230px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}
.form-login > div .title-password-forgot a {
    color: var(--color-orange);
}
.container-reg-field > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
}
.form-register > .container-reg-field{
    margin-bottom: 20px;
}
.container-reg-field .form-error {
    margin-bottom: 0;
}

.card-task-secondary-info {
    display: flex;
    justify-content: space-between;
    color: var(--color-secondary-text);
    font: 14px "helvetica-regular-s", normal;
}
.card-task-secondary-info > div {
    display: flex;
}
.card-task-secondary-info > div {
    display: flex;
}
.card-task-secondary-info > div > *{
    margin-right: 20px;
}
.card-task {
    min-width: 800px;
    margin: 0 calc(var(--index)*244) 25px calc(var(--index)*244);
    padding: 16px 16px 14px 16px;
    background: var(--color-background-light);
    border: 1px solid var(--color-border);
    border-radius: 6px;
}
.container-task {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.task-title-desс > h3 {
    font: 20px "helvetica-bold-s", normal;
    color: var(--color-main-text);
}
.task-title-desс > p {
    font: 14px "helvetica-light-s", normal;
    color: var(--color-main-text);
    margin: 10px 0 15px 15px;
}
.card-task-price p{
    font: 24px "helvetica-bold-s", normal;
    color: var(--color-orange);
}
.container-show-more,
.container-task-response{
    text-align: center;
}

/*функциональные стили модальных окон  НИЧЕГО НЕ ТРОГАТЬ!!*/
.hystmodal__wrap {
    position: absolute;
    display: none;
    top: 25px;
}
.hystmodal {
    position: relative;
}
.hystmodal--active .hystmodal__wrap {
    display: block;
}
.hystmodal__window {
    border: 1px solid black;
}
/**/

.task-filter {
    display: flex;
    align-items: baseline;
    margin: 90px calc(var(--index)*244) 45px calc(var(--index)*244);
}
.task-filter > *{
    margin-right: 12px;
}
.button-filter,
.button-create-task,
.button-reset-filter{
    padding: 6px 15px 6px 15px;
    background: var(--color-background-light);
    border: 1px solid var(--color-border);
    border-radius: 6px;
    color: var(--color-secondary-text);
    font: 18px "helvetica-regular-s", normal;
}
.button-create-task,
.button-reset-filter{
    color: var(--color-orange);
}

/*стили самих модальных окон*/
.container-button-filter .hystmodal__window{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-background-light);
    border: 1px solid var(--color-border);
    border-radius: 6px;
    padding: 15px 20px 15px 20px;
}
#filter-date .hystmodal__window div,
#filter-deadline .hystmodal__window div{
    width: 150px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
#filter-date .hystmodal__window div label,
#filter-deadline .hystmodal__window div label{
    align-self: flex-start;
    color: var(--color-secondary-text);
    font: 18px "helvetica-regular-s", normal;
    margin: 0 0 2px 15px;
}
.container-button-filter .hystmodal__window > .orange-button{
    width: 150px;
    padding: 7px 7px 7px 7px;
    margin-top: 10%;
}
.container-button-filter .hystmodal__window input{
    height: 30px;
    background: var(--color-background);
    border: 1px solid var(--color-border);
    border-radius: 3px;
    color: var(--color-secondary-text);
    font: 16px "helvetica-light-s", normal;
    padding: 5px 5px 5px 10px;

}
.container-button-filter {
    position: relative;
}
::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23878383" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

/*стили для task_detail*/
.task-container,
.container-profile{
    margin: 80px calc(var(--index)*244) 0px calc(var(--index)*244);
    padding: 30px 50px 20px 50px;
    background: var(--color-background-light);
    border: 1px solid var(--color-border);
    border-radius: 10px;
}
.task-header .task-secondary-info {
    display: flex;
    flex-direction: row;
    color: var(--color-secondary-text);
    font: 16px "helvetica-light-s", normal;
}
.task-header .task-secondary-info > * {
    margin-right: 25px;
}
.task-header .task-secondary-info .task-delete {
    color: var(--color-secondary-text);
}
.task-header .task-secondary-info .task-edit {
    color: var(--color-orange);
}
.task-header .task-price {
    color: var(--color-orange);
    font: 24px "helvetica-bold-s", normal;
}
.task-header{
    display: flex;
    justify-content: space-between;
}
.task-main-info{
    padding-left: 50px;
}
.task-main-info > h2 {
    font: 20px "helvetica-bold-s", normal;
    margin-top: 15px;
    margin-bottom: 25px;
}
.task-main-info .task-description h3,
.task-main-info .task-photo h3,
.task-main-info .task-files h3{
    font: 20px "helvetica-light-s", normal;
    color: var(--color-secondary-text);
    margin:0 0 10px 30px;
}
.task-main-info .task-description p {
    font: 16px "helvetica-light-s", normal;
    max-width: 600px;
}
.task-main-info .task-description,
.task-main-info .task-photo{
    margin-bottom: 25px;
}
.task-photo #lightgallery{
    display: flex;
}
.task-photo #lightgallery > a {
    width: 120px;
    height: 150px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    background-color: var(--color-background);
    margin-right: 10px;
}
.task-photo #lightgallery > a > img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
.container-task-response > .button-task-response a {
    color: var(--color-main-text);
}
.container-profile > .header-profile {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.header-profile > p {
    color: var(--color-secondary-text);
    font: 18px "helvetica-light-s", normal;
}
.header-profile > .profile-rating {
    color: var(--color-orange);
    font: 30px "helvetica-bold-s", normal;

}
.container-profile-photo-info > .profile-photo {
    display: block;
    width: 200px;
    height: 200px;
    border: 1px solid var(--color-border);
    border-radius: 50%;
    /* заменить когда саня сделает норм прикрепление фото */
    background: no-repeat url("https://gebestore.ru/wp-content/uploads/e/7/3/e73d8d803d8faf7ef722f89ffb67f2ec.png");
    background-size: 100% 100%;
    margin-bottom: 20px;
}
.profile-confidential-info *{
    color: var(--color-secondary-text);
    font: 16px "helvetica-light-s", normal;
    display: block;
}
.container-profile-main-info {
    display: flex;
}
.container-profile-desc-comments {
    margin-top: 80px;
    margin-left: 40px;
}
.container-profile-desc-comments {
    width: 100%;
}
.header-profile-description {
    color: var(--color-secondary-text);
    font: 20px "helvetica-light-s", normal;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 10px;
}
.header-profile-description a {
    color: var(--color-secondary-text);
    text-decoration: underline;
    font-size: 18px;
}
.profile-description {
    color: var(--color-main-text);
    font: 18px "helvetica-light-s", normal;
    margin-bottom: 50px;
}