* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body a {
    text-decoration: none;
}
:root {
    --index: calc(1/1440*100vw);
    --color-main-text: #FFF;
    --color-secondary-text: #878383;
    --color-orange: #FF4D00;
    --color-background: #121212;
    --color-background-light: #141516;
    --color-orange-button: #B53C06;
    --color-border-orange-button: #B23903;
    --color-border: #1E1F21;
}
@font-face {
    font-family: helvetica-bold-s;
    src: url('../fonts/Helvetica-Bold.woff2');
    font-weight: bold;
}
@font-face {
    font-family: helvetica-light-s;
    src: url('../fonts/Helvetica-Light.otf');
    font-weight: 300;
}
@font-face {
    font-family: helvetica-regular-s;
    src: url('../fonts/Helvetica-Regular.woff2');
    font-weight: normal;
}
body {
    font: 22px "helvetica-regular-s", normal;
    min-height: 100vh;
    background-color: var(--color-background);
    color: var(--color-main-text);
    position:relative;
}
.header {
    display: flex;
    padding: calc(var(--index)*20) 8.33% 0 8.33%;
    justify-content: space-between;
}
.header-logo a{
    font: 30px "helvetica-bold-s", normal;
    color: var(--color-orange);
}
.header .header-nav {
    display: flex;

}
.header .header-nav a{
    font: 22px "helvetica-bold-s", normal;
    color: var(--color-secondary-text);
    margin-left: calc(var(--index)*50);
}
.container-footer {
    width: 100vw;
    position: absolute;
    bottom: 0;
    padding-bottom: calc(var(--index)*16);
    margin-top: 40px;
}
.footer,
.header-login-reg {
    display: flex;
    justify-content: center;
}
.footer * {
    padding-right: 5px;
    color: var(--color-secondary-text);
    font-size: 16px;
}

.index-what-is-it {
    margin: calc(var(--index)*100) 0 0 calc(var(--index)*244);
}
.index-what-is-it p{
    width: 47vw;
    max-width: 650px;
    font: 26px "helvetica-light-s", normal;
    margin: calc(var(--index)*45) 0 0 calc(var(--index)*20);
}
h2 {
    font: 48px "helvetica-regular-s", normal;
}

.header-login-reg {
    padding-top: calc(var(--index)*20);
}

.form-input,
#id_first_name,
#id_last_name{
    width: 230px;
    height: 30px;
    background: var(--color-background);
    border: 1px solid var(--color-border);
    border-radius: 5px;
    color: var(--color-main-text);
}
.orange-button {
    width: 230px;
    height: 30px;
    background: var(--color-orange-button);
    color: var(--color-main-text);
    border: 1px solid var(--color-border-orange-button);
    border-radius: 5px;
    font: 14px "helvetica-regular-s", normal;
}
.form-login label,
.bottom-info-reg,
.form-label,
.form-login > div .title-password-forgot a {
    color: var(--color-main-text);
    font: 16px "helvetica-light-s", normal;
}
.bottom-info-reg a{
    color: var(--color-orange);
}
.container-out-log-reg {
    display: flex;
    justify-content: center;
}
.container-log-reg {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 110px 0 100px 0;
    padding: 30px 35px 8px 35px;
    background: var(--color-background-light);
    border: 1px solid var(--color-border);
    border-radius: 10px;
}
.container-log-reg .bottom-info-reg {
    display: inline-flex;
    justify-content: center;
    margin: 30px 0 10px 0;
}
.container-log-reg .bottom-info-reg a {
    margin-left: 8px;
}
.form-login p,
.form-register p,
.form-login > div{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.form-login p input,
 .form-login div input,
 .form-register div input{
    padding: 2px 15px 2px 15px;
    margin-top: 5px;
    font: 14px "helvetica-regular-s", normal;
}
.form-login div .title-password-forgot {
    width: 230px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}
.form-login > div .title-password-forgot a {
    color: var(--color-orange);
}
.container-reg-field > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
}
.form-register > .container-reg-field{
    margin-bottom: 20px;
}
.container-reg-field .form-error {
    margin-bottom: 0;
}